body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;

  width: 100%;
  align-items: center;
}

.game-info {
  margin-bottom: 20px;
}

.game-moves {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.move-group {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.move {
  text-decoration: underline;
  cursor: pointer;
  margin-right: 8px;
  color: #555;
  font-size: 80%;
}

.move:nth-child(2n+1) {
  margin-right: 20px;
}

.move.current-shown {
  font-weight: bold;
}

.move:last-child {
  margin-right: 0;
}

.toggle-button {
  margin-top: 30px;
}

.winning-move {
  background-color: lightgreen;
}
